<section id="investment-calculator-form">
  <form (ngSubmit)="onFormSubmit()">
    <div class="form_element">
      <label for="initial_investment">Initial Investment</label>
      <input type="number" name="initial_investment" />
    </div>
    <div class="form_element">
      <label for="annual_investment">Annual Investment</label>
      <input type="number" name="annual_investment" />
    </div>
    <div class="form_element">
      <label for="expected_return">Expected Return</label>
      <input type="number" name="expected_return" />
    </div>
    <div class="form_element">
      <label for="duration">Initial Investment</label>
      <input type="number" name="duration" />
    </div>
    <div class="form_button">
      <button>Calculate</button>
    </div>
  </form>
</section>
