/* You can add global styles to this file, and also import other style files */
:root {
  --color-text: #ddd;
  --color-text-highlight: #0b8;
  --color-light-shadow: #fff9;
  --color-light: #fff;
}

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#303b37, #1a1f1d);
  color: #e1eeeb;
  min-height: 100vh;
}

.center {
  text-align: center;
}
