header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--mat-sys-background);
    color: var(--mat-sys-secondary);
}

h1 {
    letter-spacing: 1px;
    margin: 0;
}

header section {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--mat-sys-secondary);
}