<header>
  <section>
    <img i18n-alt ngSrc="icon.png" width="48" height="48" alt="LYCEUM Logo" />
    <h1>LYCEUM</h1>
  </section>
  <section>
    <nav>
      <a
        i18n
        matButton="tonal"
        role="button"
        tabindex="0"
        (click)="navigationService.navigateTo('HOME')"
        >Home
      </a>
      <a
        i18n
        matButton
        role="button"
        tabindex="0"
        (click)="navigationService.navigateTo('EXPLORE')"
        >Explore</a
      >
      <a
        i18n
        matButton
        role="button"
        tabindex="0"
        (click)="navigationService.navigateTo('SIGN_IN')"
        >Sign In</a
      >
      <a
        i18n
        matButton
        role="button"
        tabindex="0"
        (click)="navigationService.navigateTo('SIGN_UP')"
        >Sign Up</a
      >
    </nav>
  </section>
</header>
